.list-wrapper {
    display: flex;
    justify-content: center;
    user-select: none;
  }
  
  .list-container {
    min-width: 800px;
    font-family: Arial, sans-serif;
    margin: 2rem;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .header h1 {
    color: #3498db;
    font-size: 32px;
    margin: 0;
  }
  
  .input-field {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .input-field input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    min-width: 200px;
    max-width: 400px;
  }
  
  .input-field button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .input-field button:hover {
    background-color: #2074a0;
  }
  
  .list-items {
    display: flex;
    flex-direction: column;
  }
  
  .empty-list-message {
    text-align: center;
    font-size: 1em;
    color: #777;
    padding: 10px;
    margin: 1rem 0;
  }
  
  .item-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 2rem;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .item-grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
  }
  
  .checkbox {
    display: flex;
    justify-content: center;
  }
  
  .item-value {
    max-width: 100%;
    padding-right: 1rem;
    overflow: hidden;
  }
  
  .completed-item {
    text-decoration: line-through;
  }
  
  .remove-btn-container {
    display: flex;
    justify-content: end;
  }
  
  .remove-btn {
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 6rem;
    padding: 0.5rem 0;
    font-size: 16px;
  }
  
  .remove-btn:hover {
    background-color: #24a658;
  }
  
  .clear-btn {
    text-align: center;
    margin-top: 2rem;
  }
  
  .clear-btn button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .clear-btn button:hover {
    background-color: #2074a0;
  }
  